@import "../../sass/responsivness.scss";

.dropdownContainer {
  position: relative;
  .dropdownToggle {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--BORDER_COLOR_GREY);
    border-radius: 8px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border-width: 1.5px;
    width: 100%;
  }
  .textContainer {
    margin: 10px 0;
  }
  .textStyleForDropDown {
    font-size: 11px;
    @include media-min-sm {
      font-size: 12px;
    }

    @include media-min-xl {
      font-size: 11px;
    }
  }
  .flexStyle {
    display: flex;
  }

  .truncateText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
  }

  .dropdownOverlay {
    position: absolute;
    // top: 44px;
    // top: 0px;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
  }

  .dropdownOtions {
    background-color: white;
    box-shadow: 0px 8px 24px -6px #00000029;
    border-radius: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    li {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #f0f0f0;
        width: "100%";
      }
    }
  }
}
