@import "../../sass/responsivness.scss";

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 1;
}

.modalContent {
  background-color: white;
  padding: 20px 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 80%;
  height: 100vh;
  position: relative;
  @include media-min-x-sm {
    width: 65%;
  }
  @include media-min-sm {
    width: 30%;
  }
}
